

@{
    ViewBag.Title = "Contact";
    <link href="~/Content/css/pag.css" rel="stylesheet" />
    <link href="~/Content/css/Register.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
}

<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link href="~/Content/css/pag.css" rel="stylesheet" />
    <link href="~/Content/css/Register.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/Content/css/Contact.css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <style>
        body {
            background-color: #00c0f3;
        }

        table {
            background-color: #fff;
        }
    </style>


</head>
<body>
    <nav class="navbar justify-content-center">
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">Profile</a>
        <a href="@Url.Action("CerrarSesion", "Home")" class="nav-item nav-link">Salir</a>
        <a href="@Url.Content("~/Home/Contact")" class="nav-item nav-link">Reports</a>
    </nav>

    <div class="container">
        <form action="@Url.Action("Registrar3","Acceso")" method="post">
            <h3>Register Here 3</h3>

            <div class="form-group row">
                <label for="Correo" class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Correo" name="Correo" placeholder="Correo" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="Clave" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="Clave" name="Clave" placeholder="Contraseña" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="ConfirmarClave" class="col-sm-2 col-form-label">Confirmar Contraseña</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="ConfirmarClave" name="ConfirmarClave" placeholder="Confirmar Contraseña" required>
                </div>
            </div>

            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }

            <button type="submit" name="button">Log In</button>
        </form>

        <div>
            <h2>Registrar Vehículo</h2>
            <form action="@Url.Action("Registrar", "Carro")" method="post">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="Nombre" placeholder="Ingrese el nombre del vehículo" required>
                </div>
                <div>
                    <label for="tipoVehiculo">Tipo de Vehículo:</label>
                    <select id="tipoVehiculo" name="TipoVehiculoID"></select>
                </div>
                <div>
                    <label for="precio">Precio:</label>
                    <input type="number" id="precio" name="Precio" placeholder="Ingrese el precio del vehículo" required>
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>


        <div>
            <h2>Actualizar inventario</h2>
            <form action="@Url.Action("RegistrarInventario", "Carro")" method="post">
                <div>
                    <label for="vehiculo">Vehículo:</label>
                    <select id="VehiculoID" name="VehiculoID" required></select>
                </div>
                <div>
                    <label for="cantidad">Cantidad disponible:</label>
                    <input type="number" id="cantidad" name="CantidadDisponible" placeholder="Ingrese la cantidad disponible" required>
                </div>
                <button type="submit">Actualizar</button>
            </form>
        </div>


        <div class="container">
            <h1>Ventas</h1>
            <table class="table" id="tablaVentas">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Vehículo</th>
                        <th>Precio de Venta</th>
                        <th>Fecha de Venta</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="container">
            <h1>Inventario</h1>
            <table class="table" id="tablaInventario">
                <thead>
                    <tr>
                        <th>Nombre del Vehículo</th>
                        <th>Tipo de Vehículo</th>
                        <th>Precio</th>
                        <th>Cantidad Disponible</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <script src="/Content/images/site.js"></script>
        <script src="~/Content/images/jquery.js"></script>
    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="col-lg-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
                </div>
                <div class="col-lg-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
                </div>
                <div class="col-lg-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-flickr fa-2x"></i>Flickr</a>
                </div>
                <div class="col-lg-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-tumblr fa-2x"></i>Tumblr</a>
                </div>
                <div class="col-lg-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-github fa-2x"></i>Github</a>
                </div>
                <div class="col-lg-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
                </div>
            </div>
        </div>

        <div class="container" style="border-top:1px solid grey;">
            <div class="row text-center">
                <div class="col-lg-6 col-lg-offset-3">
                    <ul class="menu">
                        <li>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>

                        <li>
                            <a href="#">Blog</a>
                        </li>

                        <li>
                            <a href="#">Gallery</a>
                        </li>

                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <div class="container text-center">
        <!-- Agrega la clase "text-center" para centrar el contenido -->
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © 2023 All rights reserved</p>
            </div>
        </div>
    </div>
</body>
</html>













